.h-box{
  background-color: #B6E3FD;
  display: flex;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  justify-content: center;
  align-items: center;
  font-family: 'Do Hyeon', sans-serif;
  
}

.header-1 {
  background-color: #F5FBFF;
  color: #FFA435;
  border: 5px solid;
  border-color:#F5FBFF;
  border-radius: 10px;
  padding: 1em;  
  
  
}
.backdrop {
  background-color: #B6E3FD;
  font-family: 'Roboto', sans-serif;
}

.big-box{
  color: #F5FBFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.weather-box {
  display: flex;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #F5FBFF;
  border: 5px solid;
  border-color:#F5FBFF;
  border-radius: 10px;
   
  
  
}

.weather-img-box {
  display: flex;
  align-items: center;
}

.temp-box{
  display: flex;
  align-items: center;
}
.temp {
  font-weight: bold;
  margin-left: 1em;
  margin-right: .1em;
  font-size: 40px;
}

.units-box{
  display: flex;
  align-items: center;
  
}


.location-box {
  display: flex;
  padding: 25px;
  justify-content: center;
  font-size: 30px;
  
}

.location {
  padding: 20px;
  
}

.conditions {
  padding: 20px;
  
}

#data {
  display: flex;
  padding: 25px;
  justify-content: center;
}